.section4 .container{
    gap: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section4 .top-section4{
display: flex;
justify-content: space-between;
flex-wrap: nowrap;
gap: 250px;
}
.section4 .top-section4 .start{
display: flex;
flex-direction: column;
font-family: var(--font);
color: var(--black);

}
.section4 .top-section4 h2{
    font-size: 38px;
    font-weight: 600;
}
.section4 .top-section4 p{
    font-size: 16px;

}

.section4 .view{
    align-self: flex-end;
    padding: 14px 20px ;
    background-color: aqua;
    width: fit-content;
    font-family: var(--font);
    color: var(--black);
    background-color: var(--white);
    border-radius:6px;
    text-wrap: nowrap;
}


@media screen and (max-width: 770px) {
.section4 .top-section4{
    flex-direction: column;
    gap: 20px;
    
}
.section4 .view{
    align-self: flex-start;
  
}
}

.bottom-section4{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.bottom-section4 .service-card{
    background-color: var(--white);
    font-family: var(--font);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    height: 413px;
    width: 333px;
    flex-grow: 1;
    
}

.service-card .service-number{
    font-weight: 700;
    font-size: 60px;
    align-self: flex-end;
flex-grow:1;
}

.service-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow:1;
    text-wrap: wrap;
}
.service-description h3{
    font-size: 20px;
    font-weight: 600;

}
.service-description p{
    font-size: 16px;
    font-weight: 400;
    color: #4C4C4D;
}
.service-card .img-cont{
   padding: 14px;
   height: 54px;
   align-self: flex-end;
   border-radius: 6px;
   background-color:  #FCFCFD;
    border:1px solid #F1F1F3;
}